body {
  background-color: #fce46d;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}

.header-logo {
  font-family: 'MV-WEEKEND', sans-serif;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

.header-logo:hover {
  color: #ce6334;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  padding: 10px;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.nav a:hover {
  border-bottom: solid 1px black;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #f9b03a;
  text-decoration: none;
}

.social-icons a:hover {
  background-color: #ce6334;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.subscribe-section {
  background-color: #ffebbd;
  padding: 150px 200px;
  text-align: center;
  border-radius: 20px;
  margin: 50px 150px;
  position: relative;
}

.decorations .pretzel {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 220px;
}

.decorations .croissant {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 300px;
}

.decorations .triangle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 200px;
}

.decorations .heart {
  position: absolute;
  bottom: 40px;
  right: 60px;
  width: 123px;
}

.decorations .small-circle {
  position: absolute;
  top: 150px;
  left: 40px;
  width: 114px;
}

.decorations .patty {
  position: absolute;
  bottom: 20px;
  right: 200px;
  width: 120px;
}

.subscribe-section h1 {
  font-family: 'MV-WEEKEND', sans-serif;
  font-size: 60px;
  color: black;
  margin-bottom: 32px;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input[type='email'] {
  padding: 8px 24px;
  font-size: 24px;
  border-radius: 100px;
  border: 1px solid black;
  width: 250px;
}

button {
  background-color: black;
  color: #fff;
  padding: 8px 24px;
  font-size: 25px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #555;
}
