body {
  background-color: #fce46d;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}

.header-logo {
  font-family: 'MV-WEEKEND', sans-serif;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  font-size: 25px;
  color: black;
  text-decoration: none;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #f9b03a;
}

/* Recipe Section */
.recipe-section {
  margin: 50px 150px;
}

.recipe-header {
  padding: 20px;
  background-color: #ffebbd;
  border-radius: 20px;
  text-align: center;
}

.recipe-image {
  width: 100%;
  border-radius: 10px;
  height: 360px;
  object-fit: cover;
}

.recipe-header h1 {
  font-family: 'MV-WEEKEND', sans-serif;
  font-size: 48px;
  margin-top: 20px;
}

.recipe-tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.tag {
  background-color: #f9b03a;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
}

/* Instructions and Ingredients */
.recipe-content {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.instructions,
.ingredients {
  flex: 1;
  background-color: #fff3cc;
  padding: 20px;
  border-radius: 12px;
}

.instructions h2,
.ingredients h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.ingredients ul {
  list-style: none;
  padding: 0;
}

.ingredients li {
  font-size: 18px;
  line-height: 1.5;
}

/* Footer */
.recipe-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px 0;
  padding: 20px;
  border-top: 1px solid #d3a15b;
}

.social-share {
  display: flex;
  gap: 15px;
}

.print-button {
  background-color: #f9b03a;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.print-button:hover {
  background-color: #ce6334;
}
