@media screen and (min-width: 1920px) {
}

@media screen and (max-width: 1440px) and (min-width: 1023px) {
  h2.name,
  h2.first_name,
  h2.second_name {
    font-size: 38pt;
  }
  p.text {
    font-size: 14pt;
  }
  h2.third_name {
    font-size: 20pt;
  }
}

@media screen and (max-width: 1920px) and (min-width: 1441px) {
  h2.name,
  h2.first_name,
  h2.second_name {
    font-size: 45pt;
  }
  p.text {
    font-size: 21pt;
  }
  h2.third_name {
    font-size: 20pt;
  }
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
  h2.name,
  h2.first_name,
  h2.second_name {
    font-size: 30pt;
  }
  p.text {
    font-size: 11pt;
  }
  h2.third_name {
    font-size: 15pt;
  }
}

@media screen and (max-width: 768px) and (min-width: 415px) {
  h1.name {
    font-size: 120pt;
  }
  h2.name,
  h2.first_name,
  h2.second_name {
    font-size: 24pt;
  }
  p.text {
    font-size: 10pt;
  }
  h2.third_name {
    font-size: 15pt;
  }
  div.text_card,
  div.card,
  div.option,
  div.media1,
  div.media2,
  div.vk,
  div.tg,
  div.dima,
  div.lera {
    border-radius: 10pt;
  }
}

@media screen and (max-width: 414px) and (min-width: 320px) {
  body {
    width: 100%;
  }

  .header {
    padding: 20px 20px;
  }

  .nav,
  .pretzel,
  .croissant,
  .small-circle {
    display: none;
  }

  .subscribe-section {
    box-sizing: border-box;
    margin: 20px;
    padding: 280px 20px 20px;
  }

  .decorations .heart {
    top: 20px;
    left: 100px;
  }

  .decorations .triangle {
    top: 30px;
    left: 40px;
  }

  .decorations .patty {
    top: 160px;
    right: 40px;
  }

  .subscribe-section h1 {
    font-size: 32px;
  }

  form {
    flex-direction: column;
  }

  .recipe-section {
    margin: 20px;
  }

  .recipe-content {
    flex-direction: column-reverse;
  }

  .recipe-image {
    height: 200px;
  }

  .recipe-tags {
    flex-wrap: wrap;
  }

  .action-buttons {
    flex-direction: column;
  }

  footer {
    margin: 20px;
  }

  h1.name {
    font-size: 55pt;
  }
  h2.name,
  h2.first_name,
  h2.second_name {
    font-size: 11pt;
  }
  p.text {
    font-size: 4pt;
  }
  h2.third_name {
    font-size: 6pt;
  }
  div.text_card,
  div.card,
  div.option,
  div.media1,
  div.media2,
  div.vk,
  div.tg,
  div.dima,
  div.lera {
    border-radius: 5pt;
  }
  div.card2 {
    margin-left: -9vw;
  }
}
